body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo__highlight {
  font-weight: inherit;
}

.logo__highlight--header {
  color: #2e2f42;
}

.logo__highlight--footer {
  color: #f4f4fd;
}

.header__nav-list,
.header__contacts-list,
.features__list,
.team__list {
  padding: 0;
}

.header .container {
  padding: 24px 156px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.link.link--nav {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: inherit;
}

address {
  font-style: normal;
}

.link.link--contacts {
  font-size: 16px;
  color: #434455;
  letter-spacing: inherit;
}

.section.hero .container {
  padding: 188px 472px;
}

.hero__title {
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: inherit;
  margin: 0 0 48px 0;
}

button {
  cursor: pointer;
}

.hero__button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: inherit;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.title-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: inherit;
  color: #2e2f42;
}

.item-text,
.footer__text {
  font-size: 16px;
  letter-spacing: inherit;
}

.footer__text {
  color: #f4f4fd;
}

.title-section {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: inherit;
}

.hero,
.footer {
  background-color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team__card {
  background-color: #fff;
}

.features__title.title-section {
  display: none;
}

.section.features .container {
  padding: 120px 156px;
}

.team__title.title-section {
  margin: 0 0 72px 0;
}

.section.team .container {
  padding: 120px 156px;
}
