body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 156px;
  padding-left: 156px;
}

.header .container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header__nav,
.header__nav-list,
.header__contacts-list {
  display: flex;
}

.header__nav {
  gap: 76px;
}

.header__nav-list,
.header__contacts-list {
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo__highlight {
  font-weight: inherit;
}

.logo__highlight--header {
  color: #2e2f42;
}

.logo__highlight--footer {
  color: #f4f4fd;
}

.link.link--nav {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: inherit;
}

address {
  font-style: normal;
}

.link.link--contacts {
  font-size: 16px;
  color: #434455;
  letter-spacing: inherit;
}

.section.hero .container {
  padding: 188px 472px;
}

.hero__title {
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: inherit;
  margin: 0 0 48px 0;
}

button {
  cursor: pointer;
}

.hero__button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: inherit;
  border-radius: 4px;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404bbf;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.title-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: inherit;
  color: #2e2f42;
}

.item-text,
.footer__text {
  font-size: 16px;
  letter-spacing: inherit;
}

.footer__text {
  color: #f4f4fd;
}

.title-section {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: inherit;
  margin: 0 0 72px 0;
}

.hero,
.footer {
  background-color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team__card {
  background-color: #fff;
  border-radius: 4px;
}

.features__title.title-section {
  display: none;
}

.section.team .container,
.section.features .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.portfolio .container {
  padding: 57px 189px;
}

.footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__list,
.portfolio__list,
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.features__card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team__card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.portfolio__card {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.footer__text {
  width: 264px;
  margin-top: 16px;
}

.item-text {
  margin-top: 8px;
}

.card-content {
  padding: 32px 16px;
}

.team__card-content.card-content {
  text-align: center;
}
